// Base Class
// ----------

.#{$cf-css-prefix} {
	display: inline-block;
	font: normal normal normal #{$cf-font-size-base}/#{$cf-line-height-base} $cf-font-name;
	font-size: inherit;
	text-rendering: auto;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}