// Icons
// -----

.#{$cf-css-prefix}-adc {
	&:before {
		content: $cf-var-adc;
	}
}
.#{$cf-css-prefix}-aeon {
	&:before {
		content: $cf-var-aeon;
	}
}
.#{$cf-css-prefix}-amp {
	&:before {
		content: $cf-var-amp;
	}
}
.#{$cf-css-prefix}-anc {
	&:before {
		content: $cf-var-anc;
	}
}
.#{$cf-css-prefix}-ardr {
	&:before {
		content: $cf-var-ardr;
	}
}
.#{$cf-css-prefix}-aur {
	&:before {
		content: $cf-var-aur;
	}
}
.#{$cf-css-prefix}-bay {
	&:before {
		content: $cf-var-bay;
	}
}
.#{$cf-css-prefix}-bcn {
	&:before {
		content: $cf-var-bcn;
	}
}
.#{$cf-css-prefix}-brk {
	&:before {
		content: $cf-var-brk;
	}
}
.#{$cf-css-prefix}-brx {
	&:before {
		content: $cf-var-brx;
	}
}
.#{$cf-css-prefix}-bsd {
	&:before {
		content: $cf-var-bsd;
	}
}
.#{$cf-css-prefix}-bta {
	&:before {
		content: $cf-var-bta;
	}
}
.#{$cf-css-prefix}-btc {
	&:before {
		content: $cf-var-btc;
	}
}
.#{$cf-css-prefix}-btc-alt {
	&:before {
		content: $cf-var-btc-alt;
	}
}
.#{$cf-css-prefix}-btcd {
	&:before {
		content: $cf-var-btcd;
	}
}
.#{$cf-css-prefix}-bts {
	&:before {
		content: $cf-var-bts;
	}
}
.#{$cf-css-prefix}-clam {
	&:before {
		content: $cf-var-clam;
	}
}
.#{$cf-css-prefix}-cloak {
	&:before {
		content: $cf-var-cloak;
	}
}
.#{$cf-css-prefix}-dash {
	&:before {
		content: $cf-var-dash;
	}
}
.#{$cf-css-prefix}-dcr {
	&:before {
		content: $cf-var-dcr;
	}
}
.#{$cf-css-prefix}-dgb {
	&:before {
		content: $cf-var-dgb;
	}
}
.#{$cf-css-prefix}-dgd {
	&:before {
		content: $cf-var-dgd;
	}
}
.#{$cf-css-prefix}-dgx {
	&:before {
		content: $cf-var-dgx;
	}
}
.#{$cf-css-prefix}-dmd {
	&:before {
		content: $cf-var-dmd;
	}
}
.#{$cf-css-prefix}-doge {
	&:before {
		content: $cf-var-doge;
	}
}
.#{$cf-css-prefix}-emc {
	&:before {
		content: $cf-var-emc;
	}
}
.#{$cf-css-prefix}-erc {
	&:before {
		content: $cf-var-erc;
	}
}
.#{$cf-css-prefix}-etc {
	&:before {
		content: $cf-var-etc;
	}
}
.#{$cf-css-prefix}-eth {
	&:before {
		content: $cf-var-eth;
	}
}
.#{$cf-css-prefix}-fct {
	&:before {
		content: $cf-var-fct;
	}
}
.#{$cf-css-prefix}-flo {
	&:before {
		content: $cf-var-flo;
	}
}
.#{$cf-css-prefix}-frk {
	&:before {
		content: $cf-var-frk;
	}
}
.#{$cf-css-prefix}-ftc {
	&:before {
		content: $cf-var-ftc;
	}
}
.#{$cf-css-prefix}-game {
	&:before {
		content: $cf-var-game;
	}
}
.#{$cf-css-prefix}-gld {
	&:before {
		content: $cf-var-gld;
	}
}
.#{$cf-css-prefix}-gnt {
	&:before {
		content: $cf-var-gnt;
	}
}
.#{$cf-css-prefix}-grc {
	&:before {
		content: $cf-var-grc;
	}
}
.#{$cf-css-prefix}-grs {
	&:before {
		content: $cf-var-grs;
	}
}
.#{$cf-css-prefix}-heat {
	&:before {
		content: $cf-var-heat;
	}
}
.#{$cf-css-prefix}-icn {
	&:before {
		content: $cf-var-icn;
	}
}
.#{$cf-css-prefix}-ifc {
	&:before {
		content: $cf-var-ifc;
	}
}
.#{$cf-css-prefix}-incnt {
	&:before {
		content: $cf-var-incnt;
	}
}
.#{$cf-css-prefix}-ioc {
	&:before {
		content: $cf-var-ioc;
	}
}
.#{$cf-css-prefix}-kmd {
	&:before {
		content: $cf-var-kmd;
	}
}
.#{$cf-css-prefix}-kobo {
	&:before {
		content: $cf-var-kobo;
	}
}
.#{$cf-css-prefix}-kore {
	&:before {
		content: $cf-var-kore;
	}
}
.#{$cf-css-prefix}-lbc {
	&:before {
		content: $cf-var-lbc;
	}
}
.#{$cf-css-prefix}-ldoge {
	&:before {
		content: $cf-var-ldoge;
	}
}
.#{$cf-css-prefix}-lsk {
	&:before {
		content: $cf-var-lsk;
	}
}
.#{$cf-css-prefix}-ltc {
	&:before {
		content: $cf-var-ltc;
	}
}
.#{$cf-css-prefix}-maid {
	&:before {
		content: $cf-var-maid;
	}
}
.#{$cf-css-prefix}-mint {
	&:before {
		content: $cf-var-mint;
	}
}
.#{$cf-css-prefix}-mona {
	&:before {
		content: $cf-var-mona;
	}
}
.#{$cf-css-prefix}-mue {
	&:before {
		content: $cf-var-mue;
	}
}
.#{$cf-css-prefix}-neos {
	&:before {
		content: $cf-var-neos;
	}
}
.#{$cf-css-prefix}-nlg {
	&:before {
		content: $cf-var-nlg;
	}
}
.#{$cf-css-prefix}-nmc {
	&:before {
		content: $cf-var-nmc;
	}
}
.#{$cf-css-prefix}-note {
	&:before {
		content: $cf-var-note;
	}
}
.#{$cf-css-prefix}-nuc {
	&:before {
		content: $cf-var-nuc;
	}
}
.#{$cf-css-prefix}-nxt {
	&:before {
		content: $cf-var-nxt;
	}
}
.#{$cf-css-prefix}-ok {
	&:before {
		content: $cf-var-ok;
	}
}
.#{$cf-css-prefix}-omni {
	&:before {
		content: $cf-var-omni;
	}
}
.#{$cf-css-prefix}-pink {
	&:before {
		content: $cf-var-pink;
	}
}
.#{$cf-css-prefix}-pivx {
	&:before {
		content: $cf-var-pivx;
	}
}
.#{$cf-css-prefix}-pot {
	&:before {
		content: $cf-var-pot;
	}
}
.#{$cf-css-prefix}-ppc {
	&:before {
		content: $cf-var-ppc;
	}
}
.#{$cf-css-prefix}-qrk {
	&:before {
		content: $cf-var-qrk;
	}
}
.#{$cf-css-prefix}-rby {
	&:before {
		content: $cf-var-rby;
	}
}
.#{$cf-css-prefix}-rdd {
	&:before {
		content: $cf-var-rdd;
	}
}
.#{$cf-css-prefix}-rep {
	&:before {
		content: $cf-var-rep;
	}
}
.#{$cf-css-prefix}-rise {
	&:before {
		content: $cf-var-rise;
	}
}
.#{$cf-css-prefix}-sjcx {
	&:before {
		content: $cf-var-sjcx;
	}
}
.#{$cf-css-prefix}-sls {
	&:before {
		content: $cf-var-sls;
	}
}
.#{$cf-css-prefix}-steem {
	&:before {
		content: $cf-var-steem;
	}
}
.#{$cf-css-prefix}-strat {
	&:before {
		content: $cf-var-strat;
	}
}
.#{$cf-css-prefix}-sys {
	&:before {
		content: $cf-var-sys;
	}
}
.#{$cf-css-prefix}-trig {
	&:before {
		content: $cf-var-trig;
	}
}
.#{$cf-css-prefix}-ubq {
	&:before {
		content: $cf-var-ubq;
	}
}
.#{$cf-css-prefix}-unity {
	&:before {
		content: $cf-var-unity;
	}
}
.#{$cf-css-prefix}-usdt {
	&:before {
		content: $cf-var-usdt;
	}
}
.#{$cf-css-prefix}-vrc {
	&:before {
		content: $cf-var-vrc;
	}
}
.#{$cf-css-prefix}-vtc {
	&:before {
		content: $cf-var-vtc;
	}
}
.#{$cf-css-prefix}-waves {
	&:before {
		content: $cf-var-waves;
	}
}
.#{$cf-css-prefix}-xcp {
	&:before {
		content: $cf-var-xcp;
	}
}
.#{$cf-css-prefix}-xem {
	&:before {
		content: $cf-var-xem;
	}
}
.#{$cf-css-prefix}-xmr {
	&:before {
		content: $cf-var-xmr;
	}
}
.#{$cf-css-prefix}-xrp {
	&:before {
		content: $cf-var-xrp;
	}
}
.#{$cf-css-prefix}-zec {
	&:before {
		content: $cf-var-zec;
	}
}